body {
    background-image: url('../Imagenes/fondo4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
}

/*.header-wrapper {
    background: linear-gradient(90deg, #1DB954, #191414);
    color: white;
    padding: 20px 0;
}*/

footer {
    background-color: #191414;
    color: #fff;
}
